 h2{
        color:rgba(255, 0, 0, 0.616);
    } 

    /*selector{
        property: value;
        property: value;
    }*/
    body{
        font-size: 22px;
    }
    h2{
        text-decoration: underline wavy;
        font-size: 26px;
        font-style: oblique;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        color: rgba(130, 255, 0, 0.80);
       border-style: double;
        border-color: lightblue;
        border-width: 5px  15px;
        /* border: double crimson 10px ; */
        border-top:blueviolet solid 10px ;
        border-left:blueviolet 7px solid ;
        padding: 15px 25px  ;
        margin:10px 20px 30px 10px;

        }
 h3{
        color:chocolate;
        display:inline-block ; 
    }
    h4{
        color:lightblue;
    visibility: hidden; }


    .class1{
        color: green;
        font-size: 20px;
    }
    ul{
        color:blueviolet
    }
    
    #id1{
        color: brown;
    }

    a:link{
        color:green;
        text-decoration: none;
    }
    a:visited{
        color:red ;
    }
    a:hover{
        color:purple;
        font-size: 28px;
    }
    a:active{
        color:brown ;
        text-decoration: underline;
    }

    body{
        background:beige;
        background-image:url(27093.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

     #div1{
        background:yellowgreen ;
     }
.overflow{
    border:solid blue 5px;
    width: 300px;
    height: 200px;
    overflow:auto;

}
/* .container{
    display: flex ;
    margin:30px;
    background:blue ;
    padding: 10px;
    height:400px;

    flex-flow: row wrap ; 
    justify-content: space-evenly ;
    align-items: center ; 

} */

.container{
   width:700px;
    height:200px ; 
    background: rgba(255, 255, 255, 0.5);
    color:navy;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap : 10px 20px ; 
   justify-content: space-evenly ;
   align-content: space-evenly;
   grid-template-areas: "header header"
   "sidebar content";

}

/* .container div{
    width:200px;
    height:250px;
    background: rgba(255, 255, 255, 0.5);
    color:navy;
    font-size: 54px;
    font-weight: bolder;
    text-align: center;
    display:flex;
    justify-content: center ;
    align-items: center;
} */

/* .container div{
    width:700px;
    height:200px ; 
    background: rgba(255, 255, 255, 0.5);
    color:navy;
    font-size: 54px;
    font-weight: bolder;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
  
    gap : 10px 20px ; 
   justify-content: center ;
} */


 .cont1{
    grid-area: header;
    padding:20px;
    margin:10px;
    background: red;
    /* grid-column: 1/3;
    grid-row: 1/4; */
}
.cont2{
    grid-area: content;
    padding:20px;
    margin:10px;
    background:white ;
}
.cont3{
    grid-area: sidebar;
    padding:20px;
    margin:10px;
    background:black ;
} 
